backend/bachelor/bachelor/firebase-auth
backend/bachelor/bachelor/email_logic/email_credentials.py
backend/bachelor/bachelor/storage_cred.py

frontend/bachelor/src/firebase/firebaseCredentials.js

frontend/bachelor/node_modules
frontend/bachelor/.vscode
frontend/bachelor/logs
frontend/bachelor/npm-debug.log*

frontend/bachelor/.DS_Store
frontend/bachelor/dist
frontend/bachelor/dist-ssr
frontend/bachelor/coverage
frontend/bachelor/*.local

frontend/bachelor//cypress/videos/
frontend/bachelor//cypress/screenshots/

# Editor directories and files
frontend/bachelor/frontend/bachelor/.idea
frontend/bachelor/*.suo
frontend/bachelor/*.ntvs*
frontend/bachelor/*.njsproj
frontend/bachelor/*.sln
frontend/bachelor/*.sw?

frontend/bachelor/*.tsbuildinfo

frontend/bachelor/# Logs
frontend/bachelor/logs
frontend/bachelor/*.log
frontend/bachelor/npm-debug.log*
frontend/bachelor/yarn-debug.log*
frontend/bachelor/yarn-error.log*
frontend/bachelor/pnpm-debug.log*
frontend/bachelor/lerna-debug.log*
frontend/bachelor/node_modules
frontend/bachelor/.DS_Store
frontend/bachelor/dist
frontend/bachelor/dist-ssr
frontend/bachelor/coverage
frontend/bachelor/*.local
frontend/bachelor/cypress/videos/
frontend/bachelor/cypress/screenshots/
frontend/bachelor/# Editor directories and files
frontend/bachelor/.vscode/*
frontend/bachelor/!.vscode/extensions.json
frontend/bachelor/.idea
frontend/bachelor/*.suo
frontend/bachelor/*.ntvs*
frontend/bachelor/*.njsproj
frontend/bachelor/*.sln
frontend/bachelor/*.sw?
frontend/bachelor/*.tsbuildinfo
